* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 10vh;
    top: 0px;
    align-items: center;
}

.hamburger-icon{
    display: none;
}

.navigation ul {
    display: flex;

}

.navigation li {
    list-style: none;
    padding: 15px;
}

.navigation li a {
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    background-color: dimgrey;
    color: white;
}

.Dropdown {
    position: absolute;
    flex-direction: column;
    background-color: #858a92;
}

.Dropdown li {
    display: none;
}

.Product:hover .Dropdown li {
    display: block;
}

.search {
    padding: 15px;
}

.search:hover{
    cursor: pointer;
    color: rgb(235, 145, 145);
}

.background {
    margin: 20px 20px;
    padding: 10px;
}

.background h1 {
    text-align:center;
    font-size: 45px;
    color: white;
 margin-top: 15%;
}
.background p {
    color: white;
    line-height: 60px;
font-size: 20px;
    text-align:center;
}

.background button {
    display: block;
    width: 130px;
    margin:auto
    padding: 12px;
    background-color: #e6e8ecfb;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}

.background button:hover {
    background-color: #858a92;
    color: white;
    cursor: pointer;
}

.background_image {
    background: url(/images/banner\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    /* z-index: 999; */
    margin-top: 4%;
}

.threebox {
    display: flex;
    justify-content: space-around;
}

.box-1 {
    width: 300px;
    margin: 55px;
    text-align: center;
}

.box-1 img {
    width: 100px;
    height: 100px;
}

.box-1 h1 {
    font-size: 20px;
}

.box-1 p {
    font-size: 15px;
}

.made-info img {
    width: 480px;
    height: 250px;
}

.made-info {
    position: relative;
}

.text-on-image {
    position: absolute;
    padding: 5px;
    top: 40px;
    /* left: 15%; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.text-on-image h4 {
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50%;
    line-height: 40px;
}

.text-on-image a {
    margin-left: 50%;
    padding: 5px;
    background-color: dimgray;
    /* border: 2px thin black; */
    border-radius: 8px;
    color: white;
    font-size: 15px;
}

.text-on-image a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.text-on-image-1 {
    position: absolute;
    padding: 25px;
    top: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.text-on-image-1 h4 {
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 40px;
}

.text-on-image-1 a {
    padding: 5px;
    background-color: rgb(22, 21, 22);
    border: 1px thin black;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.text-on-image-1 a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.boxes-2 {
    display: flex;
    justify-content: space-around;
    /* margin: 56px; */
}

.card {
    width: 320px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #1f3d4760;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    /* padding: 25px 10px; */
    transition: 1.5s;
}

.title {
    font-size: 25px;
    line-height: 25px;
    margin: 30px 0;
    font-weight: 400;
    text-align: center;
    color: white;
}

.card-info {
    font-size: 15px;
    line-height: 25px;
    width: 200px;
    /* text-align: center; */
    margin: auto;
    font-weight: 500;
    color: white;
}

.card-btn {
    color: white;
    background: #555758;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 500;
    margin: auto;
    margin-top: 5px;
    display: block;
    width: 150px;
}

.card-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.card:hover .card-body {
    right: 0;
    cursor: pointer;
}

.filter_image {
    display: flex;
    margin: 16px 0;
    padding: 16px;
    justify-content: space-around;
}

.title-word {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 7%;
}

.title-word h4 {
    color: brown;
    font-weight: 400;
}

.our-products {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 6%;
}

.our-products h4 {
    color: brown;
    font-weight: 400;
}

.products_img {
    display: flex;
    justify-content: center;

}

.products_img img {
    width: 200px;
    height: 250px;
    margin: 15px;
    padding: 10px;
}

.products_img .center img {
    width: 260px;
    height: 350px;
    margin-top: -10px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/para-image\ \(4\).jfif);
    width: 100%;
    height: 90vh;

}


.advertisement {
    display: flex;
    justify-content: space-around;
    /* margin: 40px;
    padding: 20px; */
    background-color: #b9b9a9;
}

.ad-img img {
    width: 500px;
    height: 500px;
}

.ad-text {
    text-align: center;
    margin: 40px;
    padding: 20px;

}

.ad-text h1 {
    font-size: 50px;
    /* width: 75vh; */
    text-shadow: 4px 4px 4px #555758;
}

.ad-text p {
    /* width: 80vh; */
    text-align: start;
    padding: 46px;
    font-size: 20px;
}

.ad-text button {
    width: 200px;
    padding: 6px;
    margin: 10px;
    color: white;
    background-color: #555758;
    outline: none;
    border: 1px thin black;
    border-radius: 4px;
    font-size: 17px;
}

.ad-text button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.brand-logo h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

.logo-brands img {
    width: 200px;
    height: 200px;
}

.logo-brands {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.online-text h1 {
    font-size: 40px;
    text-align: center;
    margin: 40px;
}

.cart-1 img {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    padding: 10px;
}

.cart-1 {
    background-color: rgba(182, 178, 178, 0.384);
    width: 200px;
}

.cart-1 h4 {
    width: 200px;
    padding: 6px;
    text-align: center;
    font-weight: 300;
}

.cart-1 button {
    width: 70px;
    margin: 15px;
    padding: 4px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.cart-1 i {
    padding: 10px;
    float: right;
    font-size: 30px;
    color: rgba(32, 31, 31, 0.521);

}

.cart-1 i:hover {
    color: red;
    cursor: pointer;
}

.cart-1 button:hover {
    background-color: #858a92;
    cursor: pointer;
    color: white;

}

.addtocart {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cart-1:hover {
    background-color: #8c9092;
    transform: scale(1.1);
}
.wrapper{
    display: flex;
    justify-content: center;
    /* margin: 15%; */
}

.wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 8px 5px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: 10%;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #898a8b;
  }


.flip-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front img {
    width: 220px;
    margin-top: 1rem;
}

.flip-card-back {
    color: black;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 140px;
    margin-top: 1rem;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back h1 {
    margin: 0;
}

.flip-cards-rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flip-text h1 {
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    color: brown;
    margin: 56px;
    
}
video{
    margin-top: 50px;
}
.video-content{
    display: flex;
    justify-content: space-around;
   gap: 20px;
}
.video-title {
       display: block;
    margin: auto;
}
.video-title h1{
    color: brown;
    font-size: 35px;
    text-shadow: 0px -4px 3px rgb(134, 79, 79);
}
.video-title p{
    font-size: 16px;
    width: 550px;
}

.contact-info{
    display: flex;
    justify-content: center;
}
.contact-icon{
    margin: 35px;
    padding: 15px;
}
.contact-icon i{
font-size: 30px;
line-height: 30px;
color: brown;
}
.contact-icon span{
    font-size: 23px;
    line-height: 60px;  
}
#email,
#headoffice,
#call{
    font-weight: 970;
    color: brown;
}

form {
    display: flex;
    flex-direction: column;
    margin: 25px 10px;
    padding: 15px 10px;

}
form h1{
    font-size: 22px;
    font-weight: 600;
    color: brown;
}
 
form .name input {
    width: 190px;
    height: 70px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(196, 147, 147);
}

form input {
    width: 400px;
    height: 70px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(196, 147, 147);
}

form button {
    width: 200px;
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(165, 42, 42, 0.705);
    color: white;
    outline: none;
    border: 2px solid rgba(165, 42, 42, 0.705);
    border-radius: 5px;
    display: block;
    margin: auto;
}

form button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.get-in-touch h1 {
    text-align: center;
    color: brown;
    margin: 16px;
}

footer {
    background-color: black;
   margin-top: 20px;
}

.helpcenter {
    padding: 30px;
}

.helpcenter h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 25px;
    padding: 10px;
    line-height: 20px;
}

.helpcenter a {
    margin: 25px;
    text-decoration: none;
    color: white;

}

.footer_ul {
    display: flex;
    justify-content: space-around;

    text-decoration: none;
    color: white;
    /* margin: 20px; */
    /* padding: 10px; */
}

.footer_ul li {
    list-style: none;
}

.footer_ul li a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    font-weight: lighter;
}

.social_icons ul {
    display: flex;
    /* to bring the socila media icons inside the footer i have given paddding 10px */
    padding: 30px;
    color: white;
}

.social_icons ul li {
    list-style: none;
    width: 100px;
}

.social_icons li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.social_icons li a:hover {
    color: rgb(14, 13, 13);
    border-radius: 100%;
    background-color: rgba(215, 211, 219, 0.938);
    transition: .5s ease-in;
}

.social_location {
    display: flex;
    justify-content: space-around;
}

.location {

    padding: 25px;
}

.location a {
    color: white;
    text-decoration: none;
    padding: 8px;
    /* width: 10px;
    height: 20px; */
}

.location a:hover {
    background-color: rgba(172, 163, 163, 0.685);
    transition: .5s ease-in;
}

.appstore img {
    width: 140px;
    height: 140px;
    padding: 5px;
}

.appstore {
    padding: 40px;
}

.helpcenter a:hover{
    color: #7ca9c0;
    transition: .5s ease-in;
}

.company li a:hover{
    color: #7ca9c0;
    transition: .5s ease-in;
}

.appstore:hover{
    cursor: pointer;
    transition: .5s ease-in;
}
